accelerate==0.28.0
aiohttp==3.9.3
aiosignal==1.3.1
altgraph==0.17.4
attrs==23.2.0
av==11.0.0
bidict==0.23.1
blinker==1.7.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.2.0
ctranslate2==4.1.0
cycler==0.12.1
datasets==2.18.0
dill==0.3.8
exceptiongroup==1.2.0
faster-whisper==1.0.1
filelock==3.9.0
Flask==3.0.2
Flask-SocketIO==5.3.6
flatbuffers==24.3.25
fonttools==4.50.0
frozenlist==1.4.1
fsspec==2024.2.0
fugashi==1.3.1
h11==0.14.0
huggingface-hub==0.22.2
humanfriendly==10.0
idna==3.6
ipadic==1.0.0
iso8601==2.1.0
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
lxml==5.2.0
MarkupSafe==2.1.3
matplotlib==3.8.3
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
networkx==3.2.1
numpy==1.26.4
onnxruntime==1.17.1
outcome==1.3.0.post0
packaging==24.0
pandas==2.2.1
pefile==2023.2.7
pillow==10.2.0
protobuf==5.26.1
psutil==5.9.8
pyarrow==15.0.2
pyarrow-hotfix==0.6
PyAudio==0.2.14
pycountry==23.12.11
pycparser==2.22
pycryptodome==3.20.0
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyreadline3==3.4.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-engineio==4.9.0
python-socketio==5.11.2
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
sentencepiece==0.2.0
setuptools==69.2.0
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
streamlink==6.7.2
sympy==1.12
threadpoolctl==3.4.0
tokenizers==0.15.2
tqdm==4.66.2
transformers==4.39.2
trio==0.25.0
trio-websocket==0.11.1
twitchio==2.9.1
twitchrealtimehandler==0.1.2
typing_extensions==4.8.0
tzdata==2024.1
unidic-lite==1.0.8
urllib3==2.2.1
websocket-client==1.7.0
Werkzeug==3.0.2
wsproto==1.2.0
xxhash==3.4.1
yarl==1.9.4
